<div class="form">
    <label class="text-box">
        <input class="text-box__field" id="addTypeEduc" type="text" required />
        <span class="text-box__hint">Тип образования</span>
    </label>
    <label class="text-box">
        <input class="text-box__field" id="addUniverEduc" type="text" required />
        <span class="text-box__hint">Учебное заведение</span>
    </label>
    <label class="text-box">
        <input class="text-box__field" id="addSpecialEduc" type="text" required />
        <span class="text-box__hint">Специальность</span>
    </label>
    <label class="text-box">
        <input class="text-box__field" id="addViewEduc" type="text" required />
        <span class="text-box__hint">Вид образования</span>
    </label>
    <label class="text-box">
        <input class="text-box__field" id="addEmp" type="text" required />
        <span class="text-box__hint">Работник</span>
    </label>
    <button class="button form__button" id="addEducationButton" type="button">Добавить</button>
</div>
<script src="~/js/addEducation.js"></script>