<div class="form">
    <label class="text-box">
        <input class="text-box__field" id="addFamilyEmp" type="text" required />
        <span class="text-box__hint">Фамилия</span>
    </label>
    <label class="text-box">
        <input class="text-box__field" id="addNameEmp" type="text" required />
        <span class="text-box__hint">Имя</span>
    </label>
    <label class="text-box">
        <input class="text-box__field" id="addMnameEmp" type="text" required />
        <span class="text-box__hint">Отчество</span>
    </label>
    <label class="text-box">
        <input class="text-box__field" id="addEmailEmp" type="email" placeholder="user@gmail.com" required />
        <span class="text-box__hint">Электронная почта</span>
    </label>
    <label class="text-box">
        <input class="text-box__field" id="addYearEmp" type="text" required />
        <span class="text-box__hint">Возраст</span>
    </label>
    <button class="button form__button" id="addEmployeeButton" type="button">Добавить</button>
</div>
<script src="~/js/add.js"></script>
