<div class="form">
    <label class="text-box">
        <input class="text-box__field" id="addnameWork" type="text" required />
        <span class="text-box__hint">Название работы</span>
    </label>
    <label class="text-box">
        <input class="text-box__field" id="addDolgWork" type="text" required />
        <span class="text-box__hint">Должность</span>
    </label>
    <label class="text-box">
        <input class="text-box__field" id="addExpWork" type="text" required />
        <span class="text-box__hint">Опыт работы</span>
    </label>
    <label class="text-box">
        <input class="text-box__field" id="addEmp" type="text" required />
        <span class="text-box__hint">Работник</span>
    </label>
    <button class="button form__button" id="addWorkButton" type="button">Добавить</button>
</div>
<script src="~/js/addWork.js"></script>
