@{
    Layout = "../Shared/_Layout.cshtml";
}

<div class="page">
    <header class="page__header">
        <nav class="navigation main-container">
            
        </nav>
    </header>
    <main class="main-container">
        <section class="section" id="employees">
            @await Html.PartialAsync("Employees")
        </section>
    </main>
</div>