<div class="form">
    <h2>Тестирование на дожность Frontend-разработчик</h2>

        <h2>Язык JavaScript является подвидом языка Java – верно?</h2>
        <p>
            <input type="radio" value="html5" checked name="tech" />Да
        </p>
        <p>
            <input type="radio" value="net" name="tech" />Нет
        </p>
        <p>
            <input type="radio" value="java" name="tech" />Наоборот, Java – подвид JavaScript.
        </p>
        <h2>Какое из этих слов не имеет специального использования в JavaScript, никак не упомянуто в стандарте?</h2>
        <p>
            <input type="radio" value="man" checked name="gender" />this
        </p>
        <p>
            <input type="radio" value="woman" name="gender" />instanceof
        </p>
        <p>
            <input type="radio" value="woman" name="gender" />constructor
        </p>
        <p>
            <input type="radio" value="woman" name="gender" />parent
        </p>
        <p>
            <input type="radio" value="woman" name="gender" />new
        </p>
        <p>
            <input type="radio" value="woman" name="gender" />Все имеют специальное использование.
        </p>
        <p>
            <button type="submit">Отправить</button>
        </p>
</div>